.img-area{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.image {
    min-width:30%;
    max-width: 60%;
   
    
}

.auspraegung {
    
   
    display: flex;
    align-items: center;
    justify-content: center;
   
}

    
