<div class="button-container">
    <div class="skip">
    <button mat-fab color="icon_farbe"  aria-label="Zurück - Button um zum vorherigen Konfigurationsschritt zurückzukehren">
      <mat-icon style="font-size: 35px;display: flex;align-items: center;justify-content: center;" (click)="onClickBefore()">skip_previous</mat-icon>
    </button>
    </div>

    <div class="done">
    <button mat-fab color="icon_farbe"  aria-label="Zurück - Button um zum vorherigen Konfigurationsschritt zurückzukehren">
      <mat-icon style="font-size: 35px;display: flex;align-items: center;justify-content: center;" (click)=" onClickNext()">done</mat-icon>
    </button>
    </div>
</div>