.mat-icon_farbe{
    background-color:#0286BC;
    color:white;
}


.button-container{
    padding-left: 70px;
    padding-right: 70px;
    padding-top:10px;
}
.skip{
    float:left;
}

.done{
   float:right;
}



