<mat-card class="overview">
    <div class="image">
      <img mat-card-image src="" alt="Außenfarbe">
    </div>  
  <div class="button">
      <mat-card-actions >
          <button mat-fab color="icon_farbe" aria-label="Knopf mit Bearbeiten-Funktion">
              <mat-icon style="font-size: 30px;display: flex;align-items: center;justify-content: center; background-color: color;" (click)="onClickEdit()">edit</mat-icon>
          </button>      
          </mat-card-actions>
     </div>
          <mat-card-footer class = "mat-card footer">
          <div class="input">Außenfarbe</div> 
          </mat-card-footer>
  </mat-card>

  <mat-card class="overview">
    <div class="image">
      <img mat-card-image src="" alt="Sitze">
    </div>   
  <div class="button">
      <mat-card-actions >
          <button mat-fab color="icon_farbe" aria-label="Knopf mit Bearbeiten-Funktion">
              <mat-icon style="font-size: 30px;display: flex;align-items: center;justify-content: center; background-color: color;" (click)="onClickEdit1()">edit</mat-icon>
          </button>
          </mat-card-actions>
     </div>
          <mat-card-footer class = "mat-card footer">
          <div class="input">Sitze</div>
          </mat-card-footer>
  </mat-card>

  <mat-card class="overview">
    <div class="image">
      <img mat-card-image src="" alt="Interieurleisten">
    </div>  
  <div class="button">
      <mat-card-actions >
          <button mat-fab color="icon_farbe" aria-label="Knopf mit Bearbeiten-Funktion">
              <mat-icon style="font-size: 30px;display: flex;align-items: center;justify-content: center; background-color: color;" (click)="onClickEdit2()">edit</mat-icon>
          </button>
          </mat-card-actions>
     </div>
          <mat-card-footer class = "mat-card footer">
          <div class="input">Interieurleisten</div>
          </mat-card-footer>
        </mat-card>

  <mat-card class="overview">
    <div class="image">
      <img mat-card-image src="" alt="Motor">
    </div> 
  <div class="button">
      <mat-card-actions >
          <button mat-fab color="icon_farbe" aria-label="Knopf mit Bearbeiten-Funktion">
              <mat-icon style="font-size: 30px;display: flex;align-items: center;justify-content: center; background-color: color;" (click)="onClickEdit3()">edit</mat-icon>
          </button>
          </mat-card-actions>
     </div>
          <mat-card-footer class = "mat-card footer">
          <div class="input">Motor</div>
          </mat-card-footer>
  </mat-card>

  <mat-card class="overview">
    <div class="image">
      <img mat-card-image src="" alt="Chiptuning">
    </div> 
  <div class="button">
      <mat-card-actions >
          <button mat-fab color="icon_farbe" aria-label="Knopf mit Bearbeiten-Funktion">
              <mat-icon style="font-size: 30px;display: flex;align-items: center;justify-content: center; background-color: color;" (click)="onClickEdit4()">edit</mat-icon>
          </button>
          </mat-card-actions>
     </div>
          <mat-card-footer class = "mat-card footer">
          <div class="input">Chiptuning</div>
          </mat-card-footer>
  </mat-card>

  <mat-card class="overview">
    <div class="image">
      <img mat-card-image src="" alt="USB">
    </div> 
  <div class="button">
      <mat-card-actions >
          <button mat-fab color="icon_farbe" aria-label="Knopf mit Bearbeiten-Funktion">
              <mat-icon style="font-size: 30px;display: flex;align-items: center;justify-content: center; background-color: color;" (click)="onClickEdit5()">edit</mat-icon>
          </button>
          </mat-card-actions>
     </div>
          <mat-card-footer class = "mat-card footer">
          <div class="input">USB</div>
          </mat-card-footer>
  </mat-card>


  <app-endbuttonrow></app-endbuttonrow>







           
           

        