.page{
  position:absolute;
  height:100vh;
  left:0;
  min-width:80%;
  width:100%;
 
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .mat-tab-label {
    height: 20% !important;

  }
  .mat-tab-group{
    margin-top: 20%;
  }

.imagearea {
  background-color: lightblue;
  margin-bottom: 0%;
  height: 90%;
}

::ng-deep .mat-tab-header {
  overflow-x: scroll !important;
}

::ng-deep .mat-tab-label-container { 
  overflow: visible !important;
}

::ng-deep .mat-tab-header::-webkit-scrollbar {
  display: none;
}


