.page {
  margin-top: 5%;
  margin-bottom: 5%;
}

.mat-tab-label-active {
  background-color: #009DDE !important;
  color: white;
  font-size: 20px;
}

.mat-tab-label {
  background-color: #009DDE !important;
  color: white;
  font-size: 20px;
}

.mat-tab-header-pagination {
  display: none !important;
}

.mat-tab-label {
  height: 70px !important;
}