body {
    background-color: lightblue;
  }
  .button {
    position: fixed;
    left: 50%;
    bottom: 100px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    font-size: 30px;
    line-height: 40px;
  }
  .mariologo {
    border: 5px solid #555;
    position: fixed;
    left: 50%;
    bottom: 200px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }
  .merlinlogo {
    margin: 0 auto;
    top: 30px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
 .mariologo{
   top: 50%;
 left: 50%
 }
 .button{
   bottom: 10%;
 }
 
}

@media only screen and (min-width: 768px) 
{
  .mariologo{
    top: 35%;
  left: 50%
  }
  .button{
    bottom: 30%;
  }
  
 }

 @media only screen and (min-width: 912px)
{
  .mariologo{
    top: 35%;
  left: 50%
  }
  .button{
    bottom: 30%;
  }
  
 }


