
.container {
    width: 70%;
    height: 150px;
    
    position: relative;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
   
  }
  
  .card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 6px;
    margin-bottom: 5%;

  }
  
  .card .front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #009DDE;
    color: #fff;
    display: grid;
    place-items: center;
  }
  .card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #38c1fc;
    color: #fff;
    display: grid;
    place-items: center;
    word-break: break-all;
    overflow: scroll;
  }
  
  .back {
    transform: rotateY(180deg);
  }
  
  .flipped {
    transform: rotateY(180deg);
  }
.Icon{
    position: absolute;
    margin-bottom: 40%;
    margin-right: -85%;
    
}