<div fxLayout="column wrap" fxLayoutAlign="start start">

<div class="toprow-row">
    <div class="flex-container" fxFlex="100%" fxFlex.sm="100%" fxFlex.xm="100%" fxLayoutAlign="start center">
        <div class="toprow-button-close">
            <button mat-fab color="icon_farbe" aria-label="Knopf mit Abbruch - Funktion">
              <mat-icon style="font-size: 35px;display: flex;align-items: center;justify-content: center; background-color: color;">close</mat-icon>
            </button>
          </div>
          <div fxFlex="50%"></div>

          <img src={{banner}} alt="image" class="banner" >
          <div fxFlex=100%></div>
          <div class="toprow-button-share" >
            <button mat-fab color="icon_farbe" aria-label="Knopf zur frühzeitigen Beendigung">
              <mat-icon style="font-size: 35px;display: flex;align-items: center;justify-content: center; background-color: color;">share</mat-icon>
            </button>
          </div>
    </div>
    </div>
